
<div class = "container">
<div class="row">
   <div class = "center col-sm-12">

     <img src="assets/img/burger.gif" height = "200" width = "200">

     <h2>Eat Da Burger!</h2>



   </div>

</div>

<div class="row">
  <div class="center col-sm-6">
<br>
<h2>Ready to Eat!</h2>
<ul>
{{#each data}}
{{#unless devoured}}
<td>
<li style="font-size: 18px">
  {{burger_name}}
<button class="btn btn-default" class = "devoured" value="{{id}}" data-devoured="{{devoured}}">
EAT IT!
</button>
</li>
{{/unless}}
{{/each}}
</ul>

</div>

<div class = "center col-sm-6">
  <br>
<h2>Eaten:</h2>
<ul>
  {{#each data}}
  {{#if devoured}}
  <li style="font-size: 18px">
    {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>
</div>
<br>
<br>

<div class = "center col-sm-12">
  <br>
<form>
  <h2>Add a Burger!</h2>
  <br>
  <div class="form-group row">
<label style ="font-size: 18px" for="burgerName" class="col-sm-2 col-form-label"><b>Insert Burger Name:</b></label>
    <div class="col-sm-8">
    <input type="text" class="form-control" id="burgerName" name="burgerName">
     </div>
     <div class="col-sm-1">
       <button type="submit" class="btn btn-primary">Submit</button>
     </div>
</form>

</div>

</div>

</div>

 