/* li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
} */

.center{text-align:center}

img{align-content: center}

.col-sm-6{

  border: 3px solid white;
  border-radius: 25px;

}